body {
	background-color: #707070;
	color: #ffffff;
	font-family: 'Fira Code', monospace;
}
a {
	color: #fff;
}
hr {
	border: 10.5px solid white;	
}
ul, li {
	list-style:none;
}
.header-red {
	color: #eb4848
}
.box {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}