body {
	background-color: #707070;
	color: #ffffff;
	font-family: 'Fira Code', monospace;
}
a {
	color: #fff;
}
hr {
	border: 10.5px solid white;	
}
ul, li {
	list-style: none;
}
img {
	max-width: 100%;
}
code {
	padding: .2em;
	color: #444444;
	background: #f0f0f0;
}
blockquote {
	border-left: 10px solid #ffffff;
	padding-left: 10px;
}
.header-red {
	color: #eb4848
}
.box {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}